<!-- Sidebar Logo -->
<div class="logo mb-3">
    <img src="../../static/images/logo.png" alt="Company Logo">
</div>

<!-- Sidebar Menu -->
<div class="sidebar-menu">
    <ul class="nav flex-column">
        <!-- Service Configuration Section -->
        <li class="nav-item">
            <a href="#" class="nav-link sidebar-menu-item active" data-target="categories">
                <i class="bi bi-tags"></i>
                <span>Service Categories</span>
            </a>
                     
        </li>
        <!-- Reporting Section -->
        <li class="nav-item">
             <a href="#" class="nav-link sidebar-menu-item" data-target="reports">
                 <i class="bi bi-graph-up"></i>
                 <span>Reports</span>
             </a>
        </li>
    </ul>
</div>
